* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  transition: background-color .5s;
  overflow-x: hidden;
  font-weight: 500px;
  background-color: #e5e7da;
}
/*==================================================================*/
/*Side Nav Bar*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 15.5px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#btn-dl {
  padding: auto;
  margin: auto;
  /*color: #b76e79;*/
}

/*Download CV*/

/*End of Download CV*/

/*logo*/
.navbar-brand img {
  height: 60px;
  width: 55px;
}

/*End of Side Nav Bar*/



/*==================================================================*/


/*Container for landing page*/

.mainPage {
  background-color: #e5e7da;
  border-radius: 25px;
  margin-bottom: 4.5rem;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.25), 
            -20px -20px 30px rgba(255, 255, 255, 0.3);
  height: 85%;
}

/*End of Container for landing page*/



/*==================================================================*/

/*Landing Page*/

.landing-page {
	background-color: #e5e7da;
  height: 100%;
	width: 100%;
	background-size: cover;
}


html, body, .view {
	height: 100%;

}

@media (max-width: 900px) {
  .view {
    height: 100%;
    width: 100%;
    padding-top: 10%;
    
  }


}

h1 {
   font-family: 'Galada', cursive;
   color: black;
}

/*End of Landing Page*/

/*==================================================================*/


/*Landing page Content*/


/*Judy Lyn.*/
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
/*End of Judy Lyn.*/




#intro {
	margin-top: 6rem;
	margin-left: 4rem;
  letter-spacing: 2px;
  
	font-size: 140px;
  color: #b76e79;
  font-family: 'Cookie', cursive;
}


#intro-paragraph {
	margin-top: 5px;
	margin-left: 5rem;
	margin-right: 1rem;
  font-size: 35px;
  font-family: 'Bebas Neue', cursive;
 
}

/*About Button*/

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { background-color: #FF6766; }
.box-2 { background-color: #3C3C3C; }
.box-3 { background-color: #66A182; }

.btn1 {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: #b76e79;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #b76e79;
  transition: all 0.3s;
  position: relative;
  margin-left: 7rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #b76e79;
  border-bottom-color: #b76e79;
  transform: scale(0.1, 1);

}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
/*End of About Button*/


/*icons*/
/*I want to add icons*/

/*===========================*/
/*Display Picture*/
/*===========================*/

#display-picture {
  height: 600px;
  width: 500px;
}


/*End of Landing page Content*/

/*==================================================================*/

/*About Section*/

.parallax-window {
    min-height: 400px;
    background: transparent;
  }



.container-fluid {
  padding: 0;
  margin: 0 auto;
  background-size: cover;
  min-width: 100%;
}

.card-about {
  border-radius: 25px;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.25), 
            -20px -20px 30px rgba(255, 255, 255, 0.3);
}

.about {
  z-index: 2;
  position: relative;
  margin: 10rem;
  padding: 40px;
  background-color: #e5e7da;
  text-align: justify;

}

/*1st Col of about*/
#aboutTitle {
  font-color: #b76e79;
}

.about-new {
  z-index: 2;
  position: relative;
  background-color: #e5e7da;
}

.about-new {
  text-align: center;
}

.about p {
  padding: 10px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.about-new p {
  padding: 5px;
}

.aboutIntro {
   font-family: 'Bebas Neue', cursive;
   /*margin: 0.5rem;*/
   font-size: 20px; 
  
}
/*End of 1st Col of about*/


/*icons*/
ul {
  position:absolute;
  top:85%;
  left:30%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .fab {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #e5e7da, #e5e7da);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}
/*End of icons*/





/*2nd cols of about*/
/*image*/
.boxImage {
  height: 255px;
  width: 250px;
  border-radius: 30px;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.25), 
            -20px -20px 30px rgba(255, 255, 255, 0.3);
  clip-path: circle(100%);
  transition: clip-path 1s;
}

.boxImage:hover {
  clip-path: circle(45%);
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.25), 
            -20px -20px 30px rgba(255, 255, 255, 0.3);
}

/*end of 2nd cols of about*/





.skills {
  text-align: center;
  margin: 4rem;
}

.projects {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#about {  
  height: 100%;
  border-radius: 25px;
}

#aboutNew {
  /*height: 100vh;*/
}



/*End of About Section*/




/*==================================================================*/


/*Projects and Services Section Cards*/ 
.card {
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), 
            -10px -10px 10px rgba(255, 255, 255, 0.3);

  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.25), 
            -20px -20px 30px rgba(255, 255, 255, 0.3);
}

.card-img-top {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  cursor: pointer;

}

.card-title {
  font-family: 'Bebas Neue', cursive;
}

/*Projects*/

.projectLinks {
  text-decoration: none !important;
}

/*End of Projects and Services Section*/


/*==================================================================*/


/*Contacts*/

.emailme {
   font-family: 'Galada', cursive;
   align-items: center;
}


.contacts {
  z-index: 2;
  position: relative;
  /*margin: 10rem;*/
  /*padding: 60px;*/
  background-color: #e5e7da;
  text-align: center;
}

.contacts-new {
  z-index: 2;
  position: relative;
  background-color: #e5e7da;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.25), 
            -20px -20px 30px rgba(255, 255, 255, 0.3);
}

/*End of Contacts*/

@media screen and (max-width: 990px) {
  .skill-container{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .skill-container{
    grid-template-columns: repeat(2);
    padding: 2rem 50px;
  }
}


@media screen and (max-width: 990px) {
  .contacts {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .contacts{
    grid-template-columns: repeat(2);
    padding: 2rem 50px;
  }
}

/*==================================================================*/


/*Footer*/
footer {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.cont {
  font-size: 20px;
}

.nameFooter {
  align-items: center;
}

.emailme {
  padding-left: 1rem;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #b76e79);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #b76e79);

}

/*==================================================================*/

/*dp image backgroun opacity*/

@media only screen and (max-width: 576px) {
  .landing-page-xs-bg-image {
    background-image: url('../../assets/images/dp.png');
    background-size: cover;
    z-index: 0;
    opacity: 0.2;
  }
}

/*==================================================================*/

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*==================================================================*/
/*button top to bottom*/

.rightside {
  padding-left: 93%;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;

}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
  border-radius: 80px;
  z-index: 2;
}

.icon-bar a:hover {
  background-color: #000;
}

.home {
  background: #8F8282;
  color: white;
  border-radius: 80px;
}

.aboutside {
  background: #b76e79;
  color: white;
}

.servicesside {
  background: #8F8282;
  color: white;
}

.projside {
  background: #b76e79;
  color: white;
}

.contactside {
  background: #b76e79;
  color: white;
}

.content {
  margin-left: 90px;
  font-size: 25px;
}

